$dark_bgPrimary = #2F2F2F
$dark_bgSecondary = #2b2b2b

$dark_textColor = #FFFFFF

.layout-main__negative, .layout-main__negative :not(.no_bw):not([class*=switch-bw]) {
  background-color: $dark_bgPrimary;
  color: $dark_textColor;
  fill: $dark_textColor;
  // box-shadow: none;
}
// .layout-main__negative{
//   .navbar, .navbar .links, .navbar .links .nav-links, .navbar .logo path, .search-box input, .dropdown-wrapper .nav-dropdown, .front-teaser, .front-teaser .category,  .ribbon{
//   background-color: $dark_bgSecondary !important;
//   }
// }
.layout-main__negative{
 .front-teaser{
  border-color: $dark_textColor !important;
  box-shadow: 1px 1px 15px rgba(242, 237, 248, 0.15);
  }
}
