$wrapper
  max-width $contentWidth
  margin 0 auto
  padding 2rem 2.5rem
  @media (max-width: $MQNarrow)
    padding 2rem
  @media (max-width: $MQMobileNarrow)
    padding 1.5rem

.container-layout
  min-height: 88vh
  padding: 3.6rem 2rem 0
  max-width: 800px
  margin: 0px auto
